# Git ignore file

### IDE workspace files are user-specific
*.sublime-workspace

### Node Logs
logs
*.log

# Dependency directory, Deployed apps should consider commenting this line out:
node_modules
dist

# Generated SASS css and Browserify js bundle, they should be regenerated
css/app.css
app/app.js