/**
 * @name base.scss
 * @author
 * @description Base scss file for the application
 */

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: $color-background;
	color: $color-primary;
	font-family: $font-stack;
	font-size: $font-size;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	overflow: hidden;

	/** NOTE: We set the withd and height of the body 
	 * for presentation purposes (in case the demo is open in full screen)
	 * In a production application, the body should adjust to the viewport */
	width: $layout-width;
	height: $layout-height;
	position: absolute;
	margin: 0;
}